* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* For Mobile Phones */
@media only screen and (max-width: 767px) {
    body{
        /* background: #272727; */
    }
    .soal {
        background: #000000);
    }
    form > p {
        color: rgb(187, 187, 187);
        background: #1c1c1c !important;
        padding: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .soal > p {
        color: aliceblue;
        padding: 15px;
        font-size: 20px;
        background: teal !important;
        font-family: 'Roboto Slab', serif;
    }
    ul {
        width: 100%;
        background: rgb(48, 48, 48);
    }
    li {
        width: 50%;
        padding-left: 30px;
        padding-bottom: 10px;
    }
    li:first-child{
        padding-top: 20px;
    }
    li:last-child{
        padding-bottom: 20px;
    }
    label {
        font-family: Courier New, Courier, monospace;
        font-size: 18px;
        color: aliceblue;
    }
    input[type="radio"]:checked {
        padding-left: 10px !important;
        background: red !important;
    }
    #wrap {
        background: yellow;
        height: 100%;
    }
    #score {
        display: table;
        margin: 0 auto;
        font-size: 100px;
    }
    #message {
        display: table;
        margin: 0 auto;
        font-size: 20px;
    }
    button {
        font-size: 25px;
        width: 100%;
        height: 50px;
        background: rgb(255, 153, 0);
        border: none;
        color: aliceblue;
    }
    #bener > h3 {
        margin-top: 30px;
        background: rgb(15, 156, 3) !important;
        width: 100%;
        display: table;
        text-align: center;
        padding: 10px 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        color: aliceblue;
    }
    #bener > ul {
        background: yellow !important;
        margin-top: 10px;
    }
    #bener > ul > li {
        /* display: inline-table; */
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        padding: 10px 0;
        font-family: Courier New, Courier, monospace;
        background: rgb(221, 221, 10) !important;
    }
}

/* For Tablets */
@media only screen and (min-width: 768px) {
    .soal {
        background: #f407a5 !important;
    }
    form > p {
        background: #1c1c1c !important;
        color: aliceblue;
        padding: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .soal > p {
        color: aliceblue;
        padding: 20px;
        font-size: 30px;
        background: teal !important;
        font-family: 'Roboto Slab', serif;
    }
    ul {
        width: 100%;
        background: rgb(48, 48, 48);
    }
    li {
        width: 50%;
        padding-left: 30px;
        padding-bottom: 10px;
    }
    li:first-child{
        padding-top: 20px;
    }
    li:last-child{
        padding-bottom: 20px;
    }
    label {
        font-family: Courier New, Courier, monospace;
        font-size: 18px;
        color: aliceblue; 
    }
    input[type="radio"]:checked {
        padding-left: 10px !important;
        background: red !important;
    }
    #wrap {
        background: yellow;
        height: 100%;
    }
    #score {
        display: table;
        margin: 0 auto;
        font-size: 100px;
    }
    #message {
        display: table;
        margin: 0 auto;
        font-size: 20px;
    }
    button {
        font-size: 25px;
        width: 100%;
        height: 50px;
        background: rgb(255, 153, 0);
        border: none;
        color: aliceblue;
    }
}


